.App {
  text-align: center;
  display: flex;


}

.NavBar {
  text-align: center;
  font-weight: bold;
  font-family: fantasy;
  font-size: 35px;
  color: purple;

}

.form-group {
  background-color: purple;
  color: grey;
  font-size: 15px;
  border-radius: 5px;
}

.btn-primary {
  background-color: white;
  color: grey;
  align: center;
  margin: 5px 0 0 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
